{% extends "base.html" %}
{% load static %}

{% block contenidos %}
{% if messages %}
<div id="mensaje">
{% for message in messages %}
<p style="color: red;">{{message}}</p>
<hr>
{% endfor %}
</div>
{% endif %}
<h1>ConverGente: Donde las ideas se convierten en representación.<h1>
<h1 id="iniciativa">Iniciativa</h1>
<p>ConverGente es una plataforma innovadora y poderosa que impulsa la participación ciudadana y la representación democrática real. Diseñada para recolectar y consolidar propuestas de miembros de diversas asambleas territoriales, ConverGente permite a los representantes construir resúmenes precisos y representativos de las ideas de sus comunidades.

    Mediante el uso de avanzada inteligencia artificial incorporada, nuestros asesores virtuales guían a los representantes en el proceso de representación, garantizando que cada propuesta refleje fielmente las inquietudes y aspiraciones de los ciudadanos.
    
    El proceso no termina aquí. Una vez elaborado el resumen consolidado, este se somete a votación entre los miembros, asegurando así que el documento final sea un verdadero reflejo de la voluntad colectiva.
    
    La certificación de representatividad otorgada al documento final proporciona un sello de legitimidad que respalda la toma de decisiones y propuestas en asambleas superiores. Con ConverGente, los representantes cuentan con herramientas efectivas para abogar por las voces de sus comunidades y llevar a cabo un proceso democrático más transparente y sólido.
    
    Únete a la revolución de la representación ciudadana. Descubre cómo ConverGente empodera a comunidades y líderes para construir un futuro más justo y participativo.
    
    ConverGente: Donde las ideas se convierten en representación.
    
    <!-- Call to Action Buttons --><br>
    <a href="{% url 'gestion:registro' %}" class="cta-button">Únete Ahora</a><br>
    <a href="#" class="cta-button">Prueba una Demo</a>
</p>
<img src="{% static 'asambleas/img/foto2.jpg' %}" alt="foto" width="50%" style="min-width: 400px;">

<hr>
<h1 id="que_hacemos">Que Hacemos</h1>
<p>Lorem Ipsum es simplemente el texto de relleno de las 
    imprentas y archivos de texto. Lorem Ipsum ha sido el
     texto de relleno estándar de las industrias desde el 
     año 1500, cuando un impresor (N. del T. persona que se 
     dedica a la imprenta) desconocido usó una galería de textos 
     y los mezcló de tal manera que logró hacer un libro de textos 
     especimen. No sólo sobrevivió 500 años, sino que tambien 
     ingresó como texto de relleno en documentos electrónicos, 
     quedando esencialmente igual al original. Fue popularizado 
     en los 60s con la creación de las hojas "Letraset", las cuales 
     contenian pasajes de Lorem Ipsum, y más recientemente con software 
     de autoedición, como por ejemplo Aldus PageMaker, el cual 
     incluye versiones de Lorem Ipsum.
</p>
<img src="{% static 'asambleas/img/foto3.jpg' %}" alt="foto" width="50%" style="min-width: 400px;">

<hr>
<h1 id="contacto">Contacto</h1>
<p>Email: info@Cinetage.org</p>
<p>Telófono: +56 00 000 0000</p>
<p>Rirección: Calle Django 22</p>
<img src="{% static 'asambleas/img/foto4.jpg' %}" alt="foto" width="50%" style="min-width: 400px;">

<br><br><br>


{% endblock %}
