{% extends 'base.html' %}

{% block contenidos %}

<div class="container-fluid bg-light custom-section">
    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="row justify-content-center align-items-center h-100" id="mensaje">
        <p style="font-weight: bold; color:red;">{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row justify-content-center align-items-center h-100">
        <h2 class="text-center">Secciones de Propuesta Asamblea</h2>
    </div>
    <br>
    <div class="row justify-content-center align-items-center h-100">
        <p style="font-weight: bold; color:red;" id="estado-votaciones">{{ estado_votaciones }}</p>
    </div>
    <div class="row justify-content-center align-items-center h-100">
        <input class="btn btn-success" type="button" id="voto-toggle" name="{{ propuesta_asamblea_id }}" value="{{ texto_boton }}" />
    </div>
    <br>
    <div class="row justify-content-center align-items-center h-100">


            <a class="btn btn-success"
                href="{% url 'asambleas:crear_seccion_propuesta' %}">
                    + Agregar Sección
            </a>


    </div>
    <br>
    <div class="row justify-content-center align-items-center h-100">
        <div class="table-responsive col col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Título</th>
                        <th>Texto</th>
                        <th>Tema</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for seccion in secciones %}
                    <tr>
                        <td>{{ seccion.id }}</td>
                        <td style="width:20%">{{ seccion.titulo }}</td>
                        <td style="width:40%">{{ seccion.texto }}</td>
                        <td style="width:20%">{{ seccion.tema }}</td>
     
                        <td style="display: inline-block;">
                            <a class="btn btn-info btn-sm" href="{% url 'asambleas:editar_seccion_propuesta' pk=seccion.id %}">Editar</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'asambleas:eliminar_seccion_propuesta' pk=seccion.id %}">X</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div id="alertModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Votaciones</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h4></h4>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}


{% block scripts %}
<script>
    $('#voto-toggle').click(function(){
          $.ajax({
                  type: "POST",
                  url: "{% url 'asambleas:voto_toggle' %}",
                  data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                  dataType: "json",
                  success: function(response) {
                          console.log(response);
                          $("#voto-toggle").prop("value", response.texto_boton);
                          $("#estado-votaciones").text(response.estado_votaciones);
                          $('#alertModal').find('.modal-body h4').text(response.message);
                          $('#alertModal').modal('show');
                    },
                    error: function(rs, e) {
                          alert(rs.responseText);
                    }
              }); 
        })
  </script>

  {% endblock %}